* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*body*/

.agrupar{
    font-family: 'Oswald',sans-serif;
    background-color: #ffffff;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1),rgba(0, 0 , 0, 0.1)), url("data:image/svg+xml,%3Csvg width='40' height='1' viewBox='0 0 40 1' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h20v1H0z' fill='%23cc0cbc' fill-opacity='0.47' fill-rule='evenodd'/%3E%3C/svg%3E");
    width: 100%;
    margin: auto;
    
}

/*Menu principal*/

.titulo{
    position: relative;
    z-index: 3;
    cursor: default;
    background: #cc0cbc;
    border: 1px solid #fff;
    padding:20px;
}

.cris{
    color: #fff;
}


.inicio{
    display: block;
    z-index: 3;
    top: 0;
    position: sticky;
    background: #cc0cbc;
    bottom: 60px;
}

.menu{
    padding: 5px 15px;
    margin-left: 50px;
    text-align: left;
    justify-content: space-between;
    height: 60px;
}

a {
    text-decoration: none;
    color:rgb(255, 255, 255);
}

.menu li {
    flex: 1;
    margin-left: 5px;
    padding: 10px;
    font-size:20px;
    display: inline-block;
    text-decoration: none;
}

.menu #li2 {
    padding-right: 0;
}

.down-icon {
    text-decoration: none;
    color:rgb(255, 255, 255);
}

.menu li :hover {
    border-bottom: 4px solid ;
}

.productos {
    transition: transform 0.5s ease-in-out;
    transform: translatey(-132px);
    z-index: 2;
    top: 60px;
    background: #cc0cbc;
    height: 130px;
    width: 210px;
    margin-left: 145px;
    position: sticky;
}

.productos.show {
    transform: translatey(-12px);
}

.productos li {
    padding: 10px;
}

.productos li :hover {
    border-bottom: 2px solid ;
}

li {
    list-style: none;
}


/*----------------------------------------*/

/*Tarjetas*/

.container {
    display: grid;
    grid-template-columns: repeat(5, 200px);
    gap: 75px;
    margin: 70px 310px;
}

.card{
    height: 287px;
    width: 200px;
    border-radius: 6px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    cursor: pointer;
    transition: all 400ms ease;
}

.card:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.5);
    transform: translateY(-3%);
}

.card .img-prenda{
    width: 100%;
    height: 230px;
}

.producto{
    margin-left: 5px;
    display: inline;
    font-family: sans-serif;
    color: #3d4246;
}

.card:hover .producto{
    border-bottom: 1px solid;
}

.precio{
    color: #69727b;
    margin-left: 5px;
}

#manta{
    height: 235px;

}

/* Follow */

.redes {
    width: 40px;
}

.social {
    margin: 50px;
  }
  .social p {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
  }
  .links {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .links a {
    margin: 0 30px;
  }
  
  .links a i {
    font-size: 3rem;
  }

/*Pie de pagina*/

.pie {
    background: #fff;
    clear: both;
    margin: 0 auto;
    margin-bottom: 2px;
    padding: 20px;
    color: black;
    text-align: center;
}