* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*body*/

.agrupar{
    font-family: 'Oswald',sans-serif;
    background-color: #ffffff;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1),rgba(0, 0 , 0, 0.1)), url("data:image/svg+xml,%3Csvg width='40' height='1' viewBox='0 0 40 1' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h20v1H0z' fill='%23cc0cbc' fill-opacity='0.47' fill-rule='evenodd'/%3E%3C/svg%3E");
    width: 100%;
    margin: auto;
    
}
/*-----------------------------------------*/
/*Menu principal*/

.inicio-btn {
    display: none;
}

.titulo{
    position: relative;
    z-index: 3;
    cursor: default;
    background: #cc0cbc;
    border: 1px solid #fff;
    padding:20px;
}

.cris{
    color: #fff;
}


.inicio{
    display: block;
    z-index: 3;
    top: 0;
    position: sticky;
    background: #cc0cbc;
    bottom: 60px;
}

.menu{
    padding: 5px 15px;
    margin-left: 50px;
    text-align: left;
    justify-content: space-between;
    height: 60px;
}

a {
    text-decoration: none;
    color:rgb(255, 255, 255);
}

.menu li {
    flex: 1;
    margin-left: 5px;
    padding: 10px;
    font-size:20px;
    display: inline-block;
    text-decoration: none;
}

.menu #li2 {
    padding-right: 0;
}

.down-icon {
    text-decoration: none;
    color:rgb(255, 255, 255);
}

.menu li :hover {
    border-bottom: 4px solid ;
}

.productos {
    transition: transform 0.5s ease-in-out;
    transform: translatey(-132px);
    z-index: 2;
    top: 60px;
    background: #cc0cbc;
    height: 130px;
    width: 210px;
    margin-left: 145px;
    position: sticky;
}

.productos.show {
    transform: translatey(-12px);
}

.productos li {
    padding: 10px;
}

.productos li :hover {
    border-bottom: 2px solid ;
}

li {
    list-style: none;
}

/*----------------------------------------*/

/*subtitulo*/
.subtitulo {
    margin-left: 50px;
    text-align: start;
    font-size: 25px;
}

h2 {
    color: #202020;
}
/*-----------------------------------------*/
/*Tarjetas*/

.container {
    display: grid;
    grid-template-columns: repeat(5, 200px);
    gap: 75px;
    margin: 70px 310px;
}

.card{
    height: 287px;
    width: 200px;
    border-radius: 6px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    cursor: pointer;
    transition: all 400ms ease;
}

.card:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.5);
    transform: translateY(-3%);
}

.card .img-prenda{
    width: 100%;
    height: 230px;
}

.producto{
    margin-left: 5px;
    display: inline;
    font-family: sans-serif;
    color: #3d4246;
}

.card:hover .producto{
    border-bottom: 1px solid;
}

.precio{
    color: #69727b;
    margin-left: 5px;
}

/* Follow */

.redes {
    width: 40px;
}

.social {
    margin: 50px;
  }
  .social p {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
  }
  .links {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .links a {
    margin: 0 30px;
  }
  
  .links a i {
    font-size: 3rem;
  }

/*Pie de pagina*/

.pie {
    background: #fff;
    clear: both;
    margin: 0 auto;
    margin-bottom: 2px;
    padding: 20px;
    color: black;
    text-align: center;
}

/* tablet/mobil */

@media (max-width: 1629px){
    .container {
        grid-template-columns: repeat(4, 200px);
        margin: 70px 302px;
    }
}

@media (max-width: 1343px){
    .container {
        grid-template-columns: repeat(4, 200px);
        margin: 70px 159px;
    }
}

@media (max-width: 1200px){
    .container {
        grid-template-columns: repeat(3, 200px);
        margin: 70px 225px;
    }
}

@media (max-width: 990px){
    .container {
        grid-template-columns: repeat(3, 200px);
        margin: 70px 120px;
    }
}

@media (max-width: 910px){
    .container {
        grid-template-columns: repeat(2, 200px);
        margin: 70px 217px;
    }
}

@media (max-width: 700px){
    .container {
        grid-template-columns: repeat(2, 200px);
        margin: 70px 112px;
    }
}

@media (max-width: 626px){
    .container {
        grid-template-columns: repeat(2, 200px);
        margin: 70px 75px;
    }
}

@media (max-width: 588px){
    .container {
        grid-template-columns: repeat(2, 200px);
        margin: 70px 74px;
        gap: 40px;
    }
}

@media (max-width: 484px){
    .subtitulo {
        font-size: 15px;
    }

    .down-icon {
        display: none;
    }

    .menu li {
        display: flex;
        flex-direction: column;
    }

    .container {
        grid-template-columns: repeat(1, 300px);
        margin: 70px 92px;
        gap: 40px;
    }

    .card {
        width: 300px;
        height: 357px;
    }

    .inicio ul.menu {
        margin: 0;
        display: block;
        position: absolute;
        background: #cc0cbc;
        top: 0;
        left: 0;
        height: 400px;
        width: 200px;
        padding: 30px;
        opacity: .9;
    }

    .menu {
        transform: translatex(-500px);
        transition: transform 0.5s ease-in-out;
    }
    
    .menu.mostrar {
        transform: translatex(-20px);
    }

    .inicio ul.menu li {
        padding: 20px;
        font-size: 14px;
    }
    
    .inicio-btn {
        display: block;
        color: #fff;
        z-index: 4;
        position: absolute;
        cursor: pointer;
        top: 15px;
        right: 30px;
        width: 40px;
    }

    hr {
        display: none;
    }

    .productos {
        font-size: 14px;
        transform: translatex(-500px);
        z-index: 2;
        top: 135px;
        background: #cc0cbc;
        height: 130px;
        width: 210px;
        margin-left: 145px;
        position: sticky;
        opacity: .9;
    }
    
    .productos.show {
        transform: translatex(35px);
    }
}

@media (max-width: 436px){
    .subtitulo {
        margin-left: 30px;
    }

    .container {
        grid-template-columns: repeat(1, 200px);
        margin: 70px 118px;
        gap: 40px;
    }

    .card {
        width: 200px;
        height: 287px;
    }
}

@media (max-width: 406px){
    .container {
        grid-template-columns: repeat(1, 200px);
        margin: 70px 103px;
        gap: 40px;
    }

    .productos {
        width: 150px;
    }

}

@media (max-width: 358px){
    .subtitulo {
        font-size: 13px;
    }

    .container {
        grid-template-columns: repeat(1, 200px);
        margin: 70px 79px;
        gap: 40px;
    }

}

@media (max-width: 340px){
    .container {
        grid-template-columns: repeat(1, 200px);
        margin: 70px 70px;
        gap: 40px;
    }

    .productos {
        width: 120px;
    }

}